<?xml version="1.0" encoding="utf-8"?> 
<configuration> 
  <packageSources> 
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" /> 
    <add key="BaGet_8081" value="http://101.43.39.163:8081/v3/index.json" allowInsecureConnections="true" /> 
  </packageSources> 
  <packageRestore> 
    <add key="enabled" value="True" /> 
    <add key="automatic" value="False" /> 
  </packageRestore> 
</configuration> 
